weather/src/main/mule/weather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9510b93a-5925-4153-b926-173b95cac200" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="weatherFlow" doc:id="717e7d45-c75b-4645-9f46-a679c641acc1" >
		<http:listener doc:name="Listener" doc:id="01290dab-f5f4-4f00-987d-f1daf61ae161" config-ref="HTTP_Listener_config" path="/weather"/>
		<http:request method="GET" doc:name="Request" doc:id="9c6dbc92-12c0-4b89-bca5-032c98de7c0d" url="https://api.meteostat.net/v1/history/daily?station=10637&amp;start=2017-01-01&amp;end=2017-12-31&amp;key=lR0cZrnk">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"start" : attributes.queryParams.sd,
	"end" : attributes.queryParams.ed
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="90c7ea60-1764-4562-a239-4263f0281a19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"maximum":max(payload.data map $.temperature_max)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
